/* On hover effect */

.highlight {
  background: rgba(59, 142, 165, 0.2);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

/* This is the new div */
.css-div {
  position: fixed;
  right: 0;
  height: fit-content;
  width: fit-content;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 1rem;
  line-height: 0.5;
  padding: 0.5rem;
  z-index: 999;
}
